body {
  font-family: "Raleway", sans-serif;
  padding: 20px;
  color: #5585b5;
}

h1 {
  font-size: 42px;
}
h2 {
  text-align: center;
  font-size: 32px;
}
h3 {
  text-align: center;
  font-size: 16px;
}
p {
  color: #ee7d33;
}

li {
  font-size: 14px;
  list-style: none;
}
footer p {
  text-align: center;
  font-size: small;
}
img {
  display: block;
  margin: auto;
}

#current-location-button {
  background: #e4f4f3;
  border: 3px solid #5585b5;
  border-radius: 200px;
  padding: 5px 20px;
}

button:hover {
  color: #ee7d33;
  background-color: #5585b5;
  cursor: pointer;
}

.form-control {
  background: #e4f4f3;
  border: 3px solid #5585b5;
  border-radius: 200px;
  padding: 5px 20px;
}
.card-body {
  background: #e4f4f3;
  margin: 2px auto;
  border: solid #5585b5;
  border-radius: 10px;
  padding: 20px 30px;
  max-width: 600px;
}

.temperature {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 12px;
  top: -25px;
}
.col {
  text-align: center;
}
.nextdays {
  text-align: center;
}
